/.idea/
/meteor_app/log
/meteor_app/node_modules
/meteor_app/config/development-*.json
/meteor_app/config/local-*.json
/meteor_app/seed*.dat
/mongodb_dump/
/build/
Debug.js
ModuleTemplate.txt
catenis-pid