/*Misc*/

html, body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.page-wrapper {
    top: 0;
    width: 100%;
    height:100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.fill{
    height:100%;
    width:100%;
}

.noPadding{
    padding:0;
}

/*word colors*/

.white{
    color:white;
}
.blue{
    color:#333399;
}

.gray{
    color: rgb(144, 144, 144);
}

.green{
    color: rgb(102, 204, 51);
}

/*bg colors*/
.blueBG{
    background-color: #333399;
}

.greenBG{
    background-color:rgb(102, 204, 51);
}

.whiteBg{
    margin-top: 150px;
    background-color: #ffffff;
    box-shadow: 5px 5px 3px #888888;
}







/*
Login Form Box
currently using useraccounts:unstyled
-> refer to https://github.com/meteor-useraccounts/core/blob/master/Guide.md#css-rules to see relevant classes & ids
*/

.form-group>.at-input>input{
    width:100%;
}
/*.login{*/
    /*background-color:#333399;*/
/*}*/

/*.loginFormBox{*/
    /*border-color: gainsboro;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    /*border-radius: 5px;*/
    /*background-color: white;*/
    /*position: relative;*/
    /*margin-top: 100px;*/
/*}*/

/*.at-form{*/
    /*border-radius: 5px;*/
    /*border-color: darkgrey;*/
    /*border-style: solid;*/
    /*border-width: 3px;*/
    /*padding: 10px;*/
/*}*/

/*.at-title{*/
    /*text-align: center;*/
/*}*/

.at-error{
    color: red;
    text-emphasis: black;
    font-size: 20px;
    background-color: yellow;
    border-style: solid;
    border-width:1px;
    border-color: transparent;
    border-radius: 3px;
}
.at-error>p{
    margin-bottom:0;
}

/*#at-pwd-form{*/
    /*margin-top:15px;*/
    /*text-align: left;*/
/*}*/

/*#at-btn{*/
    /*background-color: #4CAF50;*/
    /*color: white;*/
    /*padding: 14px 20px;*/
    /*margin: 8px 0;*/
    /*border: none;*/
    /*width: 100%;*/
/*}*/

/*#at-btn:hover {*/
    /*background-color: #3c8e0c;*/
    /*color: white;*/
/*}*/


/*#at-field-username{*/

    /*border-color: grey;*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*width: 100%;*/
    /*height: 5px;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 10px;*/
    /*padding: 20px 15px;*/
/*}*/

/*#at-field-password{*/
    /*border-color: grey;*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*width: 100%;*/
    /*height: 5px;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 10px;*/
    /*padding: 20px 15px;*/
/*}*/




/* Side Navigation Toggle Styles */

#wrapper {
    padding-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    margin-left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper>ul{
    position: absolute;
    top: 80px;
    /*this value should change depending on the navbar height setting.*/

}

#wrapper.toggled #sidebar-wrapper {
    width: 80px;
}

#page-content-wrapper {
    margin-top:50px;
    /*above should change according to the size of the header.*/
    width: auto;
    position: relative;
    padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    /*margin-right: -250px;*/
}


/*                   */
/* Sidebar Styles   */
/*                 */
.logoImage{
    margin-top:15px;
    margin-left: 15px;
    max-width: 100%;
    max-height: 100%;
}

.sidebar-nav {
    border-top: solid;
    border-top-color: #999;
    border-top-width: 2px;
    position: relative;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    outline:0;
}


.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    font-style: italic;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/*change the words on sidebar to icon when collapsed*/
/*note that we are overriding some qualities from twbs*/
#wrapper>#sidebar-wrapper>.sidebar-nav>li>.show{
    display: block!important;
}

#wrapper>#sidebar-wrapper>.sidebar-nav>li>.notshow{
    display: none!important;
}

#wrapper.toggled>#sidebar-wrapper>.sidebar-nav>li>.show{
    display: none!important;
}

#wrapper.toggled>#sidebar-wrapper>.sidebar-nav>li>.notshow{
    display: block!important;
}



@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;

    }

    #wrapper.toggled #sidebar-wrapper {
        width: 80px;

    }

    #page-content-wrapper {
        margin-left: 250px;
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0px;
        /*margin-right: 0;*/
    }
}




/*top Navbar*/
.navbar-menus{
    text-align: left;
    font-size: 16px;
}


.top-navBar{
    background-color: #333399;
    height: 80px;
    /*position: relative;*/
    /*color: white;*/
    /*height: 100px;*/
    /*if you change the height, also change the height element in page-content-wrapper*/
}



/*overwriting some bootstrap defaults for dropdown menu*/
.navbar{
    border: 0px;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    /*font-weight: bolder;*/
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
    background-color: #999;
    color: #333399;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
}
.navbar-nav>li>.dropdown-menu{
    border-width: 2px;
    border-color: rgb(102, 204,51);
}
.dropdown-menu>li>a{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 15px;
}

@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu
    {
        background-color: white;
        position:absolute;
        border-width: 2px;
        border-color: rgb(102, 204,51);
        border-style: solid;
        left:auto;
        right:0;
    }
    .navbar-nav>li>a{
        padding-top:15px;
        padding-bottom:15px;
    }
    /*above single one is for the menu size discrepancy in smaller sizes*/
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
       color: black;
    }

}

.navbar-nav{
    margin-top:0;
    margin-bottom:0;
}
