/*Misc*/

html, body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.page-wrapper {
    top: 0;
    width: 100%;
    height:100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.fill{
    height:100%;
    width:100%;
}

.white{
    color:white;
}
.blue{
    color:#333399;
}

.blueBG{
    background-color: #333399;
}

.greenBG{
    background-color:green;
}

/*
Login Form Box
currently using useraccounts:unstyled
-> refer to https://github.com/meteor-useraccounts/core/blob/master/Guide.md#css-rules to see relevant classes & ids
*/

.loginFormBox{
    border-color: gainsboro;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    margin-top: 100px;
}

.at-form{
    border-radius: 5px;
    border-color: darkgrey;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
}

.at-title{
    text-align: center;
}

.at-error{
    color: red;
    text-emphasis: black;
    font-size: 20px;
    background-color: yellow;
    border-style: solid;
    border-width:1px;
    border-color: transparent;
    border-radius: 3px;
}
.at-error>p{
    margin-bottom:0;
}

#at-pwd-form{
    margin-top:15px;
    text-align: left;
}

#at-btn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}

#at-btn:hover {
    background-color: #3c8e0c;
    color: white;
}


#at-field-username{

    border-color: grey;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 20px 15px;
}

#at-field-password{
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 20px 15px;
}





/* Side Navigation Toggle Styles */
#wrapper {
    padding-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 100px;
    /*above should change according to the size of the header.*/
    left: 0px;
    width: 250px;
    height: 100%;
    margin-left: 0px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0px;
}

#page-content-wrapper {
    margin-top:100px;
    /*above should change according to the size of the header.*/
    width: auto;
    position: relative;
    padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    /*margin-right: -250px;*/
}


/* Sidebar Styles */
.sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    font-style: italic;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0px;
    }

    #page-content-wrapper {
        margin-left: 250px;
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0px;
        /*margin-right: 0;*/
    }
}




/*top Navbar*/
.navbar-menus{
    text-align: left;
    font-size: 16px;
}

.wrapper{
    margin-top:100px;
}

.dropdown-full{
    position:relative;
    width: 100%;
}
.page-sidebar{
    padding-top: 150px;
    /*size of topNavIcon is 70 at the moment, we can give it some more space in the future*/
    float: left;
}

.whiteBg{
    margin-top: 150px;
    background-color: #ffffff;
    box-shadow: 5px 5px 3px #888888;
}

.login{
    background-color:#333399;

}

#header-right{
    overflow: hidden;
    position: absolute;
    top: 15px;
    right: 35px;
}

#header-logo{
    padding-left: 30px;
}
.top-navBar{
    margin-top:0px;
    padding-top: 10px;
    padding-bottom:10px;
    background-color: #333399;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    display: block;
    height: 100px;
    /*if you change the height, also change the height element in page-content-wrapper*/
}